@font-face {
    font-family: 'Gilroy-Bold';
    src: url('./font2/Gilroy-Bold.woff2');
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('./font2/Gilroy-Medium.woff2');
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('./font2/Gilroy-Regular.woff2');
}

body {
    font-family: 'Gilroy-Bold', sans-serif;
}

.rectangle_top {
    background: #FAFAFA;
}

.back_up_center,
.back_down_center {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.small_header {
    font-size: 100%;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #000000;
}

.large_header {
    font-size: 200%;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: #000000;
}

.small_text {
    font-size: 80%;
    font-style: normal;
    font-weight: lighter;
    line-height: 150%;
    color: #afabab;
}

.large_text {
    font-size: 80%;
    font-style: normal;
    font-weight: lighter;
    line-height: 150%;
    color: #afabab;
    word-wrap: break-word;
    text-align: center;
    width: 579px;
    height: 56px;
    margin: auto;
}

.small_image {
    width: 20%;
}

.large_image {
    height: 40%;
}

.upper {
    background: #FFF;
    padding-top: 1%;
    padding-bottom: 1%;
}

.upper_table {
    display: grid;
    padding-top: 140px;
    padding-bottom: 125px;
    gap: 3%;
    grid-template-columns: 30% 30% 30%;
}

.upper_table_element {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
    padding: 4%;
    background: #FFF;
}

.upper_table_element_center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5%;
    padding: 4%;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.middle {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 92px;
}

.lower {
    background: #FAFAFA;
    padding-top: 50px;
    padding-bottom: 100px;
}

.lower_table {
    display: grid;
    gap: 3%;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
}

.lower_table_element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
    text-align: center;
    background: #FFFFFF;
    padding: 4%;
}

.lower_table_element_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
    text-align: center;
    background: #FFFFFF;
    padding: 4%;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.small_link {
    text-decoration: none;
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%;
    color: #000000;
}

.large_link {
    width: 120px;
    height: 45px;

    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 200%;
    border-style: hidden;
    border-radius: 50px;
    color: #FFFFFF;
    background: #F25822;
}